= simple_form_for(@content, :html => {:maltipart => true}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :data, :as => :file

  .form-actions
    = f.button :submit
