.two_pane
  .right
    .summary_area
      .object-icon= image_tag "resource-48x48.png"
      .info_area
        .info.first
          %i.icon-user
          %span= @user.name
        .info.second
          %i.icon-envelope
          %span= @user.email

.main_area
  = render_tabs do |tabs|
    - tabs.pane '1st' do
      .panel.rounded
        .content
          %dl
            %dt name
            %dd= @user.name
            %dt email
            %dd= @user.email

          -# = link_to 'Edit', [:edit, target_company.to_company, @user]
    - tabs.pane '2nd' do
      %h1 2nd

