.content
  %ul.nav.nav-list
    %li.nav-header= t("rset_mcm.common.action")
    - if actions.include?(:show)
      %li
        = link_to content_path(directory) do
          %i.icon-info-sign
          = t("rset_mcm.common.detail")
    - if actions.include?(:edit)
      %li
        = link_to edit_content_path(directory) do
          %i.icon-cog
          = t("rset_mcm.common.edit")
    - if actions.include?(:mkdir)
      %li
        = link_to "#mkdir_dialog", {:'data-toggle' => "modal"} do
          %i.icon-plus-sign
          = t("rset_mcm.common.mkdir")
    - if actions.include?(:upload)
      %li
        = link_to "#upload_dialog", {:'data-toggle' => "modal"} do
          %i.icon-upload
          = t("rset_mcm.common.upload")
    - if actions.include?(:destroy)
      - unless directory.is_root?
        %li.divider
        %li
          = link_to({:action => :destroy}, :method => :delete, :confirm => t("rset_mcm.common.confirm.destroy", :default => "Are you sure?")) do
            %i.icon-trash
            = t("rset_mcm.common.destroy")

- if actions.include?(:mkdir)
  = render "mkdir_modal", :directory => directory

- if actions.include?(:upload)
  = render "upload_modal", :directory => directory
