= content_for :css do
  = stylesheet_link_tag "rset_mcm/application"

= render 'breadcrumb', :directory => @directory

.row
  .span9
    .panel.rounded
      .header.rounded-top
        %h4
          %i.icon-folder-open
          = @directory.name_was

      .content
        = simple_nested_form_for @directory.becomes_content do |f|
          = f.input :name
          .actions
            %button.btn(type="submit")
              %i.icon-ok
              = t("rset_mcm.common.save")
            = link_to({:action => :show}, :class => 'btn') do
              %i.icon-undo
              = t("rset_mcm.common.cancel")

  .span3
    .panel.rounded.visible-desktop
      = render 'action_menu', :directory => @directory, :actions => [:show, :destroy]
