= content_for :css do
  = stylesheet_link_tag "rset_mcm/application"

= render 'breadcrumb', :directory => @directory

.row
  .span9
    .panel.rounded
      .header.rounded-top
        %h4
          %i.icon-folder-open
          = @directory.name_was

      .content
        = simple_nested_form_for @directory.becomes_content do |f|
          = f.input :name

          - unless @directory.is_root?
            #user_permission_area
              %table.table.table-striped.nested_form
                %tr
                  %th= t(".user")
                  %th= t(".permission")
                  %th.action
                = f.fields_for :user_permissions, :wrapper => false do |pf|
                  %tr.fields
                    %td
                      - if pf.object.new_record?
                        = pf.input :resource_object_id, {:as => :select, :collection => target_company.users, :value_method => :id, :label_method => :name, :include_blank => true, :selected => pf.object.resource_id.to_s, :label => false, :input_html => {:class => "span3"}}
                      - else
                        %label= pf.object.resource.name
                        = pf.input :resource_object_id, :as => :hidden, :input_html => { :value => pf.object.resource_id }
                      = pf.input :resource_type_name, :as => :hidden, :input_html => { :value => "user" }
                    %td
                      = pf.input :mode, {:as => :select, :collection => RsetMcm::Permission.mode.options, :selected => pf.object.mode, :label => false, :input_html => {:class => "span3"}}
                    %td= pf.link_to_remove '', {:class => 'icon-remove-sign'}
                %tr
                  %td
                  %td
                  %td= f.link_to_add '', :user_permissions, {:class => 'icon-plus-sign'}

          .actions
            %button.btn(type="submit")
              %i.icon-ok
              = t("rset_mcm.common.save")
            = link_to({:action => :show}, :class => 'btn') do
              %i.icon-undo
              = t("rset_mcm.common.cancel")

  .span3
    .panel.rounded
      = render 'action_menu', :directory => @directory, :authority => @current_authority, :actions => [:show, :destroy]
