= content_for :css do
  = stylesheet_link_tag "rset_mcm/application"

= render 'breadcrumb', :directory => @directory

.row
  .span9
    .panel.rounded
      .header.rounded-top
        %h4
          %i.icon-folder-open
          = @directory.name

      .content
        .rset-mcm-contents
          - list_with_info_block(@directory.children.order(:name), "rset_mcm.contents.list_blank_html") do |obj|
            - unless obj.authority(current_user).include?(:prohibit)
              = render 'content', :content => obj

  .span3
    - if @current_authority.writable?
      .panel.rounded
        = render 'action_menu', :directory => @directory, :authority => @current_authority, :actions => [:edit, :destroy, :mkdir, :upload]

    .panel.rounded
      = render 'authority', :directory => @directory
