= content_for :css do
  = stylesheet_link_tag "rset_mcm/application"

= render 'breadcrumb', :directory => @directory

.row
  .span9
    .panel.rounded
      .header.rounded-top
        %h4
          %i.icon-folder-open
          = @directory.name

      .content
        .rset-mcm-contents
          - @directory.children.order(:name).each do |content|
            = render 'content', :content => content

  .span3
    .panel.rounded.visible-desktop
      = render 'action_menu', :directory => @directory, :actions => [:update, :destroy, :mkdir, :upload]

    .panel.rounded.visible-desktop
      = render 'authority', :directory => @directory
