= render 'breadcrumb', :directory => @directory

.row
  .span9
    .panel.rounded
      .header.rounded-top
        %h4
          %i.icon-folder-open
          = @directory.name

      .content
        .chocoholic-contents
          - @directory.children.order(:name).each do |content|
            = render 'content', :content => content

  .span3
    .panel.rounded.visible-desktop
      = render 'action_menu', :directory => @directory, :actions => [:update, :destroy]

    .panel.rounded.visible-desktop
      = render 'authority', :directory => @directory
