= content_for :css do
  = stylesheet_link_tag "rset_mcm/application"

%ul.breadcrumb
  %li
    %i.icon-folder-open
  - @handout.ancestors.each do |a|
    %li
      = link_to a.name, content_path(a)
      %span.divider= "/"
  %li.active= @handout.name

.row
  .span6
    .panel.rounded
      .header.rounded-top
        %h4
          %i.icon-cog
          = t("rset_mcm.common.admin")
      .content
        %dl
          %dt= t("rset_mcm.common.file_name")
          %dd= @handout.name
          %dt= t("rset_mcm.common.tags")
          %dd
            - @handout.tag_list.each do |tag|
              %span.label= tag
        - if @current_authority.writable?
          .action
            = link_to({:action => :edit}, :class => 'btn') do
              %i.icon-pencil
              = t("rset_mcm.common.edit")
            = link_to({:action => :destroy}, :class => 'btn', :method => :delete, :confirm => "Are you sure?") do
              %i.icon-trash
              = t("rset_mcm.common.destroy")
  .span6
    = render 'detail_panel', :handout => @handout

.row
  .span12
    -# = render "history"
