= widget_div do
  .panel.rounded
    .content
      .search_form
        = form_for :search, :url => url_for_event(:search, :company_id => target_company.code), :remote => true do |f|
          = f.text_field :q, :placeholder => 'Search', :class => 'search-query span2'

      .objects_area
        - @objects.each do |obj|
          .object_area.line-bottom
            .image_area= image_tag "resource-48x48.png"
            .info_area
              .info.first
                %i.icon-user
                %span= obj.name
              .info.second
            .action_area
              = link_to [target_company.to_company, obj] do
                %i.icon-book

      = paginate @objects, :remote => true, :theme => 'sidebar'
