= widget_div do
  .panel.rounded
    .search_form
      -# = form_tag url_for_event(:search, :company_id => target_company.code), :remote => true do |f|
      = form_for :search, :url => url_for_event(:search, :company_id => target_company.code), :remote => true do |f|
        = f.text_field :q, :placeholder => 'Search', :class => 'search-query'

    .objects_area
      - @categories.each do |uc|
        .object_area.line-bottom
          .image_area= image_tag "resource-48x48.png"
          .info_area
            .info.first
              %i.icon-user
              %span= uc.name
            .info.second
          .action_area
            = link_to company_user_category_path(uc.owner.to_company, uc) do
              %i.icon-book

    = paginate @categories, :remote => true, :theme => 'sidebar'
